#jinja2: lstrip_blocks: True
global
    daemon
    maxconn {{ haproxy_max_connections }}
    nbthread {{ haproxy_threads }}
    ssl-default-bind-ciphers DEFAULT:!MEDIUM:!3DES
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    tune.ssl.default-dh-param 4096

defaults
    log global
    option redispatch
    retries 3
    timeout http-request {{ haproxy_http_request_timeout }}
    timeout http-keep-alive {{ haproxy_http_keep_alive_timeout }}
    timeout queue {{ haproxy_queue_timeout }}
    timeout connect {{ haproxy_connect_timeout }}
    timeout client {{ haproxy_client_timeout }}
    timeout server {{ haproxy_server_timeout }}
    timeout check {{ haproxy_check_timeout }}
    balance {{ haproxy_defaults_balance }}
    maxconn {{ haproxy_defaults_max_connections }}

frontend prometheus
    mode http
    bind {{ ansible_facts.default_ipv4.address }}:8405
    http-request use-service prometheus-exporter
    no log

frontend reductionist
    mode tcp
    bind {{ ansible_facts.default_ipv4.address }}:8080
    default_backend reductionist

backend reductionist
    mode tcp
    balance leastconn
{% for host in groups['reductionist'] %}
    server {{ host }} {{ hostvars[host].ansible_facts.default_ipv4.address }}:8081 check
{% endfor %}
